
body {
  margin-top:60px;
  background-color: #00ffff;
}
.grey-box{
  padding: 40px;
  background-color: #ffffff;
  
}
.border{
  border-color: grey;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
.box{
  padding: 40px;
  backgroung-color: grey;
}
.font{
  font-style: monospace;
  font-size: 40px;
}